<div class="jumbotron text-center">
 
<div class="container">
<div class="col-md-12">
  <form>
  <div class="input-group">

    <input type="text" class="form-control" placeholder="Search" list="browsers" name="browser">
     <datalist id="browsers">
       <option ng-model="firststory"  value="Intelligence report suggest donald trump connection with russian">
       <option ng-model="secondstory" id="" value="Donal has russian connection as reported by white house ">
       <option ng-model="thirdstory" id="" value="Donald Trumps past 100 days ">
     </datalist>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" ng-click="sendStory(story)">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>         
    </div>
    
  </form>
  </div>
</div>
</div>