<div class="container jumbotron">

&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<!--<h5> <a href="index.html">List</a> >>> Suggested Story</h5>-->
  
  <div class="panel-group">
<div class="container">
  <h2></h2>
  <form>
    <div class="form-group">
      <label >Source</label>
      <div ng-app="" >
      <input  class="form-control" id="source" placeholder="" ng-init="" ng-model="source" value="{{myCol}}">
    </div>

    </div>

    <div class="form-group">
      <label >Region</label>
     
      <input class="form-control" id="region" placeholder="" ng-model="region" >
    </div>
    <div class="form-group">
      <label >Headline</label>
   
      <input  class="form-control" id="headline" placeholder="" ng-model="headline">
    </div>
     <div class="form-group">
      <label >Short Description</label>
   
      <input  class="form-control" id="shortdescription" placeholder="" ng-model="shortdescription">
    </div>
     <div class="form-group">
      <label >Long Description</label>
   
      <input  class="form-control" id="longdescription" placeholder="" ng-model="longdescription">
    </div>
    <div class="form-group">
      <label >Description</label>
      <input class="form-control" id="description" placeholder="" ng-model="description">
    </div>
    <div class="form-group">
      <label >Personality Tag </label>
      <input  class="form-control" id="personalitytag1" ng-model="personalitytag1">
    </div>
   
    <div class="form-group">
      <label >Intrest Tag </label>
      <input class="form-control" id="iStory" placeholder="" ng-model="intresttag1">
    </div>
    
    <div class="form-group">
      <label >Realted Story 1</label>
      <input class="form-control" id="rStory" placeholder="" ng-model="relatedStory1">
    </div>
    <div class="form-group">
      <label >Realted Story 2</label>
      <input class="form-control" id="rStory" placeholder="" ng-model="relatedStory2">
    </div>
    <div class="form-group">
      <label >Realted Story 3</label>
      <input class="form-control" id="rStory" placeholder="" ng-model="relatedStory3">
    </div>
    <div class="form-group">
      <label >Video 1</label>
      <input class="form-control" id="video" placeholder="" ng-model="video1">
    </div>
    <div class="form-group">
      <label >Video 2</label>
      <input class="form-control" id="video" placeholder="" ng-model="video2">
    </div>
    <div class="form-group">
      <label >Video 3</label>
      <input class="form-control" id="video" placeholder="" ng-model="video3">
    </div>
    <div class="form-group">
      <label >Audio 1</label>
      <input class="form-control" id="audio" placeholder="" ng-model="audio1">
    </div>
    <div class="form-group">
      <label >Audio 2</label>
      <input class="form-control" id="audio" placeholder="" ng-model="audio2">
    </div>
    <div class="form-group">
      <label >Audio 3</label>
      <input class="form-control" id="audio" placeholder="" ng-model="audio3">
    </div>
   <div class="form-group">
      <label >Image 1</label>
      <input class="form-control" id="img" placeholder="" ng-model="image1">
    </div>
    <div class="form-group">
      <label >Image 2</label>
      <input class="form-control" id="img" placeholder="" ng-model="image2">
    </div>
    <div class="form-group">
      <label >Image 3</label>
      <input class="form-control" id="img" placeholder="" ng-model="image3">
    </div>
     <div class="form-group">
      <label >Document 1</label>
      <input class="form-control" id="document" placeholder="" ng-model="document1">
    </div>
    <div class="form-group">
      <label >Document 2</label>
      <input class="form-control" id="document" placeholder="" ng-model="document2">
    </div>
    <div class="form-group">
      <label >Document 3</label>
      <input class="form-control" id="document" placeholder="" ng-model="document3">
    </div>
    <div class="form-group">
      <label >Category</label>
     <select ng-model="selectedCategory" ng-options="x for x in category">
</select>
    </div>

     <div class="form-group">
      <label >Date</label>
      <input type="date" name="assignedDate"  ng-model="assignedDate">
    </div>

     <div class="form-group">
      <label >Question 1</label>
      <input class="form-control" id="document" placeholder="" ng-model="question_1">
    </div>

      <div class="form-group">
      <label >Option 1</label>
      <input class="form-control" id="document" placeholder="" ng-model="option_1">
    </div>

      <div class="form-group">
      <label >Option 2</label>
      <input class="form-control" id="document" placeholder="" ng-model="option_2">
    </div>

      <div class="form-group">
      <label >Option 3</label>
      <input class="form-control" id="document" placeholder="" ng-model="option_3">
    </div>

    
   
  </form>
<div class="container-fluid">
    

<br><br><br><br><br><br>
<div class="jumbotron text-center">
 
<div class="container">
  <div class="col-md-3"></div>
<div class="col-md-6">
  <button type="button" class="btn btn-primary btn-lg" ng-click="startdata(story)">Start this Story</button>
</div>
  <div class="col-md-3"></div>
</div>
</div>
</div>
</div>
  </div>

