.table .headline {
       table-layout: fixed;
       width: 400px;
}

.table .action {
       table-layout: fixed;
       width: 100px;
}

.table .src {
       table-layout: fixed;
       width: 20px;
}

body {
     background-color: #091CC3;
}